<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>{{ username }}'s dashboard</h1>
    <div id="actions">
        <!-- 
            - take and save a picture
            - display last picture/all pictures
            - execute a cmd command
            - take and display a screenshot
         -->
    </div>
    <div id="options"></div>
    <div id="output">
        <!-- 
            - last picture
            - last time connected
            - global ip address
            - client status (connected or not)
         -->
    </div>
</body>
</html>